<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Spark Home Page</title>
    <link rel="stylesheet" href="tDList.css">
    <link rel="stylesheet" href="reset.css">
</head>

<body>
    <header>
        <div>
            <h1>Spark Day Tracker</h1> 
        </div>
        <div>
            <nav>
                <ul>
                    <li class="logo"><a href="/">Spark Day Tracker</a></li>
                    <li><a href="/todo">Todo List</a></li>
                    <!-- <li><a href="/reflection">Reflection</a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="quoteotd">
            <h2 id="qotdh"></h2>
            <p id="qotd"></p>
        </div>
        <img id="tink" src="https://media.giphy.com/media/v467lTy81ixwY/giphy.gif" width="600rem">
    </main>
    <script src="tDList.js"></script>
</body>
</html>