<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <title>Daily Reflections</title>
    <link rel="stylesheet" href="tDList.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="timer.css">
</head>

<body>
    <header>
        <div>
            <nav>
                <ul class="logoHead">
                    <li class="logo"><a href="/">Spark Day Tracker</a></li>
                    <li><a href="/todo">Todo List</a></li>
                    <!-- <li><a href="/reflection">Reflection</a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section><h1 class="pageHeader">Today's Reflections</h1>
            <p>10 Minute Free Write</p>
        </section>

        <section>
            <div class="container">
                <div id="countdown">
                <ul class="timer">
                    <li><span id="days" class="hidden"></span></li>
                    <li><span id="hours" class="hidden"></span></li>
                    <li><span id="minutes"></span>Minutes</li>
                    <li><span id="seconds"></span>Seconds</li>
                </ul>
                </div>
            </section>
      </div>

  
    
    </main>
    <script src="todoList/js/tDList.js"></script>
    <script src="todoList/js/timer.js"></script>
</body>
</html>